nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #fd9d54;
    gap: 45px;

}

nav a {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s;
}

nav a:hover {
    color: cadetblue;
}

nav a svg {
    margin-left: 5px;
}




nav a span {
  margin-left: 5px;
}

/* スマホサイズで非表示 */
@media (max-width: 600px) {
  nav a span {
    display: none;
  }
  nav {
    gap: 30px;
    height: 48px;
  }
}